<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  </head>
  <body>
    <h3>Welcome {{user.name}}</h3>
    <p>Your date of birth is {{user.date_of_birth}}</p>
    <a href="/logout">Logout</a>
    <h4>Appointment Information Below</h4>
    <table>
      <tr>
        <th>Task</th>
        <th>Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
      {% if appointments %}
      {% for appointment in appointments %}
      <tr>
        <td>{{appointment.task}}</td>
        <td>{{appointment.date}}</td>
        <td>{{appointment.time}}</td>
        <td><a href="#">Edit</a><a href="#">Delete</a></td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>

    <!-- {% if appointments %}
    {% for appointment in appointments %}
    <p>{{appointment.task}} - {{appointment.date}} - {{appointment.time}}</p>
    {% endfor %}
    {% endif %} -->
    <h3>Add an Appointment below</h3>
    <form action="/create_appointment" method="post">
      {% csrf_token %}
      <label for="task"> Task: </label>
      <input type="text" name="task" value="">
      <label for="date">Date: </label>
      <input type="date" name="date" value="">
      <label for="time">Time: </label>
      <input type="time" name="time" value="">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
